!!!
html
  head
    title flip me! | Play now
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery-1.7.1.min.js')
    script(src='/javascripts/jquery.tinysort.min.js');
    script(src='/javascripts/memory-game.js')
  body!= body